<header>   
  
  <div class="logo"><img src="./assets/img/logo/Frame 20.svg" alt="Main Logo image"></div> 

    <div class="push-right space-between"></div>

    <div class="push-right notification"><img src="./assets/img/icons/svgs/notification.svg" alt="Notification img"></div>

    <div class="">      
      <p class="user-profile-block">Welcome {{userName}}</p>
    </div>

    <div class="user-profile-icon">
      <img class="user-profile-img zone" src="./assets/img/icons/Male User.png" alt="User profile icon" onclick="toggleUserMenu()"> 
      <div class="dropdown">
        <div id="myDropdown" class="dropdown-content">        
          <!-- <a href="#">This could be my details with image</a>
          <hr> -->
          <!-- <a href="#">Link 2</a>
          <a href="#">Link 3</a> -->
          <ul>
            <li>My Details</li>
            <li>Set Password</li>
            <li>Help</li>
            <li>Contact Us</li>
            <hr>
            <li>Logout</li>
          </ul>
        </div>
      </div>   
    </div>

</header>

<!-- Navigation -->
  <nav>
    <ul class="main-nav">
      <li class="menu-items zone"><a href="">Home</a></li> 
      <li class="menu-items zone"><a href="">Categories</a></li>
      <li class="menu-items zone"><a href="">My Learning</a></li>
      <li class="menu-items zone"><a href="">My Achivements</a></li>
    </ul>
  </nav>