<footer>
    <div><a href="https://www.ato.gov.au/">Australian Taxation Office</a><br>
        Working for all Australians
    </div>

    <div class="footer-social">  
        <a href="https://www.linkedin.com/company/australian-taxation-office"><img src="./assets/img/icons/svgs/entypo-social_linkedin-with-circle.svg" alt="Linkein image and link"></a>
        <a href="https://twitter.com/ato_gov_au"><img src="./assets/img/icons/svgs/entypo-social_twitter.svg" alt="Twitter image and link"></a>
        <a href="https://www.ato.gov.au/RSS-news-feeds.aspx"><img src="./assets/img/icons/svgs/entypo-social_google.svg" alt="Google image and link"></a>  
    </div>

    <div><a class="text-small" href="https://www.ato.gov.au/General/Gen/Copyright-notice/">© Commonwealth of Australia</a></div>
</footer>