<div class="main-outer-home">
    
    <div class="progress-home">
        <h1><b>Progress</b></h1>
        <div class="grid-container1-home">
            <div class="box zoneout item1-progress">
                <div>Your current learning path</div>
                <div class="zoneoutLightBlue sub-text">Completed 25%</div>                    
                <div class="zoneoutLightBlue sub-text">To be completed</div>            
                <div class="zoneoutLightBlue sub-text">To be completed</div> 
                <div class="sub-text" style="color:red"><b>Expiring soon 2</b></div>
            </div>
            <div class="box zoneout item2-progress">
                <div>Your Skills updated</div>
                <div class="zoneoutLightBlue sub-text">Business Management</div>                    
                <div class="zoneoutLightBlue sub-text">Business Computing</div>            
                <!-- <div class="zoneoutLightBlue">Human Resources tech 1</div>  -->
            </div>
            <div class="box zoneout item3-progress">
                <div>Awards</div>
                <div class="zoneoutLightBlue sub-text">Tech Master</div> 
            </div>  
        </div>  
    </div>

    <div class="my-new-courses-home">
        <h1><b>New Courses introducing to you</b></h1>
        <div class="grid-container2-home">
            <div class="item1-new-course box zoneout">course 1</div>
            <div class="item2-new-course box zoneout">course 2</div>
            <div class="item3-new-course box zoneout">course 3</div>  
        </div>  
    </div>

    <!-- <h1><b>My Courses</b></h1>
    <div class="grid-container2">
        <div class="item1">Header</div>
        <div class="item2">Menu</div>
        <div class="item3">Main</div>  
    </div> -->

</div>

<!-- <div class="home-container">
    <h3>Your Progress on current assignment</h3>
    <div class="box zone red">Mandatory Due by 21</div>
</div>
  -->
 <!-- <div class="zone home-container">
    <div class="box zone red">Mandatory Due by 21</div>
    <div class="box zone"></div>
    <div class="box zone"></div>
    <div class="box zone"></div>
    <div class="box zone"></div>
    <div class="box zone"></div>
    <div class="box zone"></div>
    <div class="box zone"></div>
</div> -->
