<div class="main-outer-home">

    <div class="progress-home">
        <h1><b>Progress</b></h1>
        <div class="grid-container1-home">
            <div class="box zoneout item1-progress">
                Stats
                <img src="./assets/img/server_2_2.png">
            </div>
            <div class="box zoneout item2-progress">Skill</div>
            <div class="box zoneout item3-progress">Awords</div>  
        </div>  
    </div>

    <div class="my-courses-home">
        <h1><b>My Courses</b></h1>
        <div class="grid-container1-home">
            <div class="item1">Header</div>
            <div class="item2">Menu</div>
            <div class="item3">Main</div>  
        </div>  
    </div>

    <!-- <h1><b>My Courses</b></h1>
    <div class="grid-container2">
        <div class="item1">Header</div>
        <div class="item2">Menu</div>
        <div class="item3">Main</div>  
    </div> -->

</div>

<!-- <div class="home-container">
    <h3>Your Progress on current assignment</h3>
    <div class="box zone red">Mandatory Due by 21</div>
</div>
  -->
 <!-- <div class="zone home-container">
    <div class="box zone red">Mandatory Due by 21</div>
    <div class="box zone"></div>
    <div class="box zone"></div>
    <div class="box zone"></div>
    <div class="box zone"></div>
    <div class="box zone"></div>
    <div class="box zone"></div>
    <div class="box zone"></div>
</div> -->
