
/* ---------------------------------OUTER DIV------------------------------------*/
.main-outer-home {
    margin-top: 90px;
    background-color:#e0e0e0;
    padding: 50px 50px;
    font-size: 0.75rem;
}
.sub-text {
    font-size: 0.50em;
    color: black;
    text-align: left;
}
/* ---------------------------------OUTER DIV------------------------------------*/

/* ---------------------------------PROGRESS------------------------------------*/
.item1-progress { 
    grid-area: progress; 
    border-radius: 10px;
}
.item2-progress { 
    grid-area: skils; 
    border-radius: 10px;
}

.item3-progress { 
    grid-area: awards;
    border-radius: 10px;
 }

.progress-home {
    border-radius: 10px;
}

.grid-container1-home {
  display: grid;
  grid-template-areas:
    'progress progress progress skils skils skils'
    'progress progress progress awards awards awards';
  /* grid-gap: 10px;
  padding: 5px; */
  color: black;
  grid-template-columns: repeat(3fr, 250px);
}

.grid-container1-home > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
/* ---------------------------------PROGRESS------------------------------------*/

/* ---------------------------------NEW COURSE------------------------------------*/
.item1-new-course { 
    grid-area: course1; 
    border-radius: 5px;
}
.item2-new-course { 
    grid-area: course2; 
    border-radius: 5px;
}

.item3-new-course { 
    grid-area: course3;
    border-radius: 5px;
 }

.my-new-courses-home {
    border-radius: 10px;
}

.grid-container2-home {
  display: grid;
  grid-template-areas:   
    'course1 course1 course2 course2 course3 course3';
  /* grid-gap: 10px;
  padding: 5px; */
  color: black;
  /* grid-template-columns: repeat(3fr, 250px); */
}

.grid-container2-home > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* ---------------------------------NEW COURSE------------------------------------*/

/* ---------------------------------LIFE STYLE------------------------------------*/
.item1-new-course { 
    grid-area: course1; 
    border-radius: 5px;
}
/* .item2-new-course { 
    grid-area: course2; 
    border-radius: 5px;
}

.item3-new-course { 
    grid-area: course3;
    border-radius: 5px;
 } */

/* .my-new-courses-home {
    border-radius: 10px;
} */

/* .grid-container2-home {
  display: grid;
  grid-template-areas:   
    'course1 course1 course2 course2 course3 course3'; */
  /* grid-gap: 10px;
  padding: 5px; */
  /* color: black; */
  /* grid-template-columns: repeat(3fr, 250px); */
/* } */

/* .grid-container2-home > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */

/* ---------------------------------LIFE STYLE------------------------------------*/

.project-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
    /* margin-top: 130px; */
}


/* ---------------------------------BOX MODEL------------------------------------*/
.box  {
    background-color: #8a8b8b;
    padding: 130px;
    margin: 25px;
}
.box > img {
    width: 100%;
} 
/* ---------------------------------BOX MODEL------------------------------------*/

/* ---------------------------------TOPICS------------------------------------*/
.topic {
  text-align: left;
  background-color: #b9b9b9;
  font-weight: bold;
  font-size: 0.85em;
  padding-right: 20px;
  padding-left: 10px;
}
/* ---------------------------------TOPICS------------------------------------*/

/* ---------------------------------ICON------------------------------------*/
.iconify {
  /* padding-right: 10px; */
  padding-left: 20px;
}
/* ---------------------------------ICON------------------------------------*/

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .main-outer-home {
      font-size: 0.65rem;
    }

    .sub-text {
      font-size: 0.30em;
    }

    .topic { 
      font-size: 0.85em;
    }
}
