.main-outer-home {
    margin-top: 90px;
    background-color:#e0e0e0;
    padding: 50px 50px;
    font-size: 1rem;
}

.item1-progress { 
    grid-area: progress; 
    border-radius: 10px;
}
.item2-progress { 
    grid-area: skils; 
    border-radius: 10px;
}

.item3-progress { 
    grid-area: awards;
    border-radius: 10px;
 }

.progress-home {
    border-radius: 10px;
}

.grid-container1-home {
  display: grid;
  grid-template-areas:
    'progress progress progress skils skils skils'
    'progress progress progress awards awards awards';
  grid-gap: 20px;
  padding: 10px;
  color: black;
  grid-template-columns: repeat(3fr, 250px);
}

.grid-container1-home > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* .project-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
    margin-top: 130px;
}
*/

.box  {
    background-color: #8a8b8b;
    padding: 130px;
    margin: 25px;
}
.box > img {
    width: 100%;
} 
