/*********
 *  Body 
 *********/
 body {
    margin: auto 0; /* Normalizing CSS  removing the default margin from the browser*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
 }
/***********************
 *  Main grid boxes 
 ***********************/
.zone {
    /* padding:30px 50px;
    margin: 40px 60px;
    display:inline-block; */ /*Uses flexbox and css grids*/
    border: 1px solid #bbb;
    border-radius: 4px;
    font-size:4em;    
    cursor:pointer;
    color:#FFF;
    transition: all 0.2s linear;
}
/* ---------------------------------HEADER------------------------------------*/
header {
    display: flex;
    list-style: none;
    font-size: 1rem;
    margin: 0;
    background-color: #e9e9e9;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    /* width: 10vw;
    height: 10vh; */
    /* padding: 130px;
    margin: 25px; */
}

/* ---------------------------------NAVIGATION------------------------------------*/
/***************************
 *  Main grid hover effects 
 **************************/
.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;    
}

/* .box:hover {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
    transform: rotate(-7deg);
} */


/********************************************
 *  Main navigation class grid hover effects 
 ********************************************/
.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.60em;
    margin: 0;
    background-color: #ffffff;
}
/***************
 *  UL LI style
 ***************/
 li {
     padding: 15px; /* Setting a padding around a li */
} 

/* Setting up the navigation seperator */
nav li + li:before{
    content: " | ";
    padding: 10px 50px 30px 0;
    color: #7070708e;
}
/******************************
 * Navigation anchor tag styles
 ******************************/
a {
    color: #2b2929;
    text-decoration: none; /* removing the link underline */
}
/***************************************
 *  Navigation menu Item styles for div
***************************************/
/* .menu-items {
     padding-left: 40px; 
     padding-bottom: 20px;
     padding-top: 20px;
} */

.menu-items:focus, .menu-items:hover, .menu-items:active {
    /* border: 5px solid #bbb;     */
    border-top: 5px solid #0e8387;
    /* border-top-color: #0e8387; */
}

/* .menu-items:active {
    border-bottom: 4px solid red;
    font-weight: 500;
} */
/**************************************
 *  Navigation menu Push right elements
***************************************/
.push-right {
    margin-left: auto;
}

.on-top {
    position: fixed;
    top: 10%;
    width: 100%;
}
/* ----------------------------- Body Cover----------------------------------------*/
/*******************************
 *  Body cover Item styles
********************************/
.cover-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.img-cover { 
    width: 50rem;
}
/* ------------------------------Project Items---------------------------------------*/
/***************************
 *  project grid Item styles
*****************************/
.project-grid {
    display: grid;
    /* grid-gap: 20px; */
    /* gap: 1em; */
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
/********************************
 *  project grid box  Item styles
*********************************/
.box  {
    background-color: #8a8b8b;
    /* padding: 2.25em; */
    padding: 130px;
    margin: 25px;
}
/***************************************
 *  project grid box image Item styles
 For all the image childers in box style
****************************************/
.box > img {
    width: 100%;
}





/* ------------------------------Footer---------------------------------------*/
/****************
 *  Footer styles
******************/
footer {
    text-align: center;
}

/* ---------------------------------------------------------------------*/

/**********************************************
 *  Media query for setting up the screen
 max width and setting up the font size for nav
***********************************************/
@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.4em;
        /* padding: 0; */
        position: fixed;
        top: 0;
        width: 100%;
    }

    header {
        display: none;
    }
    /* .img-cover { 
        width: 5rem;
        height: 5rem;
    }*/
} 
/***********************************************************************
 *  Imported packages
 **********************************************************************/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background: #56B870; /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}
