
/* ---------------------------------MAIN------------------------------------*/
/* Body  */
 body {
    margin: auto 0; /* Normalizing CSS  removing the default margin from the browser*/
    font-family: 'Montserrat', sans-serif;;
    font-size: 4px;
 }

/* Main boxes styles */
.zone {
    /*padding:30px 50px;
    margin: 40px 60px;
    display:inline-block;*/ /*Uses flexbox and css grids*/
    border: 1px solid #bbb;
    border-radius: 4px;
    /* font-size:4rem;     */
    cursor:pointer;
    color:#FFF;
    transition: all 0.2s linear;
}
/* ---------------------------------MAIN------------------------------------*/

/* ---------------------------------HEADER------------------------------------*/
header {
    display: flex;
    flex-direction: row;
    list-style: none;
    /* font-size: 0.5rem; */
    margin: 0;
    background-color: #ffffff;
    /* Fixed Menu item */
    position: fixed;
    top: 0;
    width: 98%;    
    border: 1px solid #bbb;
    align-items: center;
    justify-content: center;   
    padding-left: 20px;
    padding-right: 20px;
}

.logo  {
    margin: 3px;
    cursor: pointer;
}

.logo > img {
    background: left center no-repeat;
    width: 300px;
    height: 80px;
}

.user-profile-block {
    font-size: 1.25rem;
    padding-right: 10px;
}

.user-profile-icon > img {
    width: 50px;
    height: 50px;    
    margin-left: auto;
}

/* ---------------------------------HEADER------------------------------------*/


/* ---------------------------------NAVIGATION------------------------------------*/
.main-nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 4.5em;
    width: 98%;
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
    background-color: #ffffff;
}

li {
    padding: 15px; /* Setting a padding around a li */
} 

li > a {
    text-decoration: none;
}

/* ---------------------------------NAVIGATION------------------------------------*/

/* ---------------------------------COVER-CONTAINER------------------------------------*/
.cover-container { 
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ---------------------------------COVER-CONTAINER------------------------------------*/

/* ------------------------------PROJECT LIST GRID---------------------------------------*/
.project-grid {
    display: grid;
    /* grid-gap: 20px; */
    /* gap: 1em; */
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box  {
    background-color: #8a8b8b;
    /* padding: 2.25em; */
    padding: 130px;
    margin: 25px;
}
.box > img {
    width: 100%;
}
/* ---------------------------------PROJECT LIST GRID------------------------------------*/

/* ---------------------------------PUSH RIGHT------------------------------------*/
 /* Navigation menu Push right elements */

.push-right {
    margin-left: auto;
}
/* ---------------------------------PUSH RIGHT------------------------------------*/

/* ------------------------------FOOTER---------------------------------------*/
/****************
 *  Footer styles
******************/
footer {
    text-align: center;
    font-size: 1.5rem;
}
/* --------------------------------FOOTER-------------------------------------*/

/* ---------------------------------MEDIA QUERY------------------------------------*/
/**********************************************
 *  Media query for setting up the screen
 max width and setting up the font size for nav
***********************************************/
@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    header {
        /* shrink the logo first */
        width: 90vw;
    }
    .main-nav {
        font-size: 0.75rem;
        position: fixed;
        top: 6em;
        width: 90vw;
    }
    .user-profile-block {
        font-size: 1rem;
        display: none;
    }
} 
/* ---------------------------------MEDIA QUERY------------------------------------*/

/* ---------------------------------ZONE HOVER------------------------------------*/
/***************************
 *  Main grid hover effects 
 **************************/
 .zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;    
}
/* ---------------------------------ZONE HOVER------------------------------------*/

/***********************************************************************
 *  Imported packages
 **********************************************************************/
/***********************************************************************
 *  Green Background
 **********************************************************************/
 .green{
    background: #56B870; /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}
